@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');



#name{
    font-size:55px;
    font-style:italic;
    font-weight:800;
    font-family: "Teko", sans-serif;
    margin: 10px;
}

#label2{
    display:block;
    text-align: center;
    font-size:50px;
    font-family: "Teko", sans-serif;
    font-weight: bolder;

}

#year{
    display:block;
    text-align: center;  

}

.container {
        text-align: center;
       
        padding: 20px;
        border-radius: 10px;
    }
#InputValue{
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: "Teko", sans-serif;
    font-weight:bold ;
    border-width: 3px;
}

#submit{
    width: 100px;
    font-size: 25px;
    padding:10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(14, 214, 218, 0.93);
    border-radius: 10px;
    font-family: "Teko", sans-serif;
    box-shadow: inset 0 0 0 0 #3706f9;
    transition: ease-out 0.3s;
    outline:none;
    font-weight:bold ;
    border-width: 3px;
}

#submit:hover {
    box-shadow: inset 100px 0 0 0 #3706f9;
    cursor: pointer;
   color:#ffffff;
}
#answer{
    display:block;
    text-align: center;
    font-size: 30px;
    font-family: "Teko", sans-serif;
    font-weight: bold;
    border-style:double;
    padding:10px;
    border-radius: 10px;
    margin: 100px;

}

#body{

    background-image: url(R_3.jpeg);
    border-style:double ;
    border-radius: 10px;
     height: 800px;
}

#answer2{

    display:block;
    text-align: center;
    font-size: 30px;
    font-family: "Teko", sans-serif;
    font-weight: bold;
    border-style:double;
    padding:10px;
    border-radius: 10px;
    margin: 100px;

}